<%- include('header'); -%>
    <div class="box" id="heading">
        <h2> <%=listTitle%> </h2>
        <h2>ToDo List</h2>
    </div>
    <div class="box">
        <% listItem.forEach((element) =>{ %>
            <form method="post" action="/delete">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
                    <input type="hidden" name="checkbox" value="<%= listTitle %>"
                    <p><%= element.itemName %></p>
                </div>
            </form>

        <% }) %>
        

         <form method="post" action="/">
            <input type="text" placeholder="New item" name="newItem" autofocus autocomplete="off">
            <button type="submit" name="button" value= <%- JSON.stringify(listTitle) %> >+</button>
        </form>
    </div>
   
<%- include('footer'); -%>
    
